<?php

$Cfg = array("BdDbE"   => "MYSQL", 
             "BdHost"  => "localhost",
             "BdBase"  => "Edicod",
             "BdUser"  => "Edicod",
             "BdPwd"   => "Edicod",
             "Auth"    => "BASE",
             "AuthSrv" => "ldap://",
             "AuthUsr" => "cn=",
             "AuthPwd" => "",
             "AuthBas" => "dc=local");

?>
